*{
    padding: 0%;
}
body{
    background-color: antiquewhite;
    text-align: center;
}

.grid-layout{
    height: 650px;
    display: grid;
    grid-template-areas: 'cinema cinema'
                         'menu menu'
                         'contenido lateral'
                         'footer footer';
    grid-template-rows: 20% 10% auto 10%;
    background-color: lightgreen;
    border: 1px solid black; 
}


.caja{
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.c1{
    background-color: rgb(103, 190, 46);
   grid-area: cinema;
   font-family: 'Times New Roman', Times, serif;
   font-size: 60px;
}

header{
    text-align: center;
}

.c2{
    text-align: center;
    background-color: rgb(141, 217, 217);
    grid-area: menu;
    text-align: center;

}

.c3{
    background-color: lightcoral;
    grid-area: contenido;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
}


.c4{
    background-color: blueviolet;
    grid-area: lateral;
    
}

.c5{
    background-color: lightskyblue;
    grid-area: footer 
    
}


ul{
    text-align: center;
    list-style: none;
    text-align: center;
}

li{
    text-align: center;
    display: inline-block;
    text-align: center;
    
}

nav{
    text-align: center;
    
}

body{
    background-color: rgb(185, 113, 20);
}

#grilla {
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 2fr 1fr 100px;
    gap: 10px;
    grid-template-areas: 
    "nav header    header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer    footer";
    display: grid
}

header{
    grid-area: header;
}
 footer {
    grid-area: footer;
 }
 section#productos {
    grid-area: productos;     
 }
 section#servicios {
    grid-area: servicios;     
 }
 nav {
    grid-area: nav;
 }
 aside {
    grid-area: publicidad;
 }
 
 .border{
    flex-direction: column;
     display: flex; 
 }
 
 .border{
     background-color: rgb(207, 57, 57);
 }

 .productosflex{
     display: flex;
     flex-direction: row;
 }

 .transicion{
     width: 100px;
     height: 100px;
     background-color: blueviolet;
     border: solid 1px;
 }

 .transicion:hover{
     padding: 20px;
     transform: skewY(25deg);
 }

 .animacion{
     animation-duration: 2s;
     animation-name: aparecer;
     animation-iteration-count: infinite;
 }

 @keyframes aparecer {
     0%{
         opacity: 0;
     }
     100%{
         opacity: 1;
     }

 }


